<p id="notice"><%= notice %></p>

<p>
  <strong>Published:</strong>
  <%= @food.published %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @food.image_url %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @food.slug %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
