<%= form_with(model: [:admin, fact], local: true) do |form| %>
  <% if fact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fact.errors.count, "error") %> prohibited this fact from being saved:</h2>

      <ul>
      <% fact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published %>
  </div>

  <div class="field">
    <%= form.label :links %>
    <%= form.text_area :links %>
  </div>

  <div class="field">
    <%= form.label :headline %>
    <%= form.text_field :headline %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary %>
  </div>

  <div class="tags">
    <%= form.label :tags %>

    <div data-controller="tag-picker">
      <div class="flex">
        <input type="text"  data-action="focus->tag-picker#show" >
        <div style="" data-target="tag-picker.existingTags" class="flex">
          <% fact.tags.each do |item|  %>
            <div class="tag" data-action="click->tag-picker#removeItem"data-info="<%= item.id %>"> <%= item.name %> </div>
          <% end %>
        </div>
      </div>

      <div class=" hidden" data-target="tag-picker.dropdown">
        <% Tag.all.each do |item| %>
          <div class="tag <%= fact.tags.map(&:name).include?(item.name) ? 'hidden' : ''%> "
                data-action="click->tag-picker#addItem" data-info="<%= item.id %>" >
            <%= item.name %>
          </div>
        <% end %>
      <input data-target="tag-picker.finalValue" name="fact[tags]" type="hidden" value="<%= fact.tags.map(&:id).join(",") %>">
    </div>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
