<%= form_with(model: [:admin, fact], local: true) do |form| %>
  <% if fact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fact.errors.count, "error") %> prohibited this fact from being saved:</h2>

      <ul>
      <% fact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published %>
  </div>

  <div class="field">
    <%= form.label :links %>
    <%= form.text_area :links %>
  </div>

  <div class="field">
    <%= form.label :headline %>
    <%= form.text_field :headline %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary %>
  </div>

  <div class="tags">
    <%= form.label :tags %>

    <div data-controller="tag-picker">


      <div class="flex">
        <input type="text"  data-action="keyup->tag-picker#keyup focus->tag-picker#show blur->tag-picker#show" class="mr-2">
        <div style="" data-target="tag-picker.existingTags" class="flex">
          <% fact.tags.each do |item|  %>
            <div data-value="<%= item.name %>" class=" p-2 px-3 h-6 l-height-0 pt-1 bg-purple-500 text-white rounded mr-2 cursor-pointer" data-action="click->tag-picker#removeItem"data-info="<%= item.id %>"> <%= item.name %> </div>
          <% end %>
        </div>
      </div>



      <div class=" hidden w-40 absolute bg-white border p-2" data-target="tag-picker.dropdown" style="height: 500px; overflow-y: scroll">
        <% Tag.where.not(tag_type: ['mineral', 'vitamin']).each do |item| %>
          <div
            data-value="<%= item.name %>"
            class="bg-purple-500 hover:bg-purple-600 mt-1 p-2 px-3 l-height-0 pt-1 bg-orange-500 text-white rounded mr-2 cursor-pointer <%= fact.tags.map(&:name).include?(item.name) ? 'hidden' : ''%> "
                data-action="click->tag-picker#addItem" data-info="<%= item.id %>" >
            <%= item.name %>
          </div>
        <% end %>
      </div>

      <input

        data-target="tag-picker.finalValue"
        name="fact[tags]"
        type="hidden"
        value="<%= fact.tags.map(&:id).join(",") %>"
      >
  </div>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
