<p id="notice"><%= notice %></p>

<h1>Facts</h1>

<table class="crazy-table">
  <thead>
    <tr>
      <th>Published</th>
      <th>Links</th>
      <th>Headline</th>
      <th>Summary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facts.each do |fact| %>
      <tr>
        <td><%= fact.published %></td>
        <td>
          <div class="stub">
            <%= fact.links.split("\n").size %>
          </div>
        </td>
        <td><%= fact.headline %></td>
        <td><%= fact.summary %></td>
        <td><%= link_to 'Edit', edit_admin_fact_path(fact) %></td>
        <td><%= link_to 'Destroy', [:admin, fact], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fact', new_admin_fact_path %>
