<div class="md:flex">
  <%= render "sidebar" %>

  <div class="mb-10 w-full md:ml-48 mt-2">
    <div>

      <% if(@highlighted_fact) %>
        <div class="ml-5 text-3xl font-bold mt-6">Highlighted Fact for <%= @food.name %></div>
        <%= render 'nutrient_display', fact: @highlighted_fact, index: -1, highlighted: true %>
        <div class="ml-5 text-3xl font-bold mt-6">More Info</div>
      <% end %>
      <div class="bg-gray-100 px-3 py-3 m-5 mt-3 mb-3 ml-4 shadow-lg rounded ">
        <div class="md:flex">
          <img src="<%= @food.image_url %>" class="w-full md:w-40 md:h-40 rounded">
          <div>
            <h2 class="mt-4 md:mt-0 md:ml-5 text-4xl flex"><%= @food.name %></h2>
            <% if @food.description && @food.description.length > 0 %>

              <div class="md:ml-5 mt-2 p-2 px-4 text-sm bg-white rounded mb-1 relative">
              <div class="absolute  right-0 flex wiki -mt-8">
              Wikipedia
              <img class=" ml-1 w-5 rounded-l" src="https://nutrient-facts.s3.amazonaws.com/wikipedia-logo.png">
            </div>
              <div><%= @food.description %></div>
                
              </div>
            <% end %>

            <div class="md:ml-5 inline-block">
               <% @food.facts.map(&:tags).flatten.each do |tag| %>
                 <%= render 'components/tag', {tag: tag} %>
              <% end %>

            </div>
          </div>
        </div>
        <div>
          <div class="text-xl font-medium mb-2 mt-3">Highlights</div>
          <% @facts_to_show.each_with_index do |fact, index| %>
            <div class="text-lg flex ">
              <div class="mt-1 inline-block h-7 mr-2 p-2 bg-green-500 text-white rounded py-0 w-8 text-center"><%= index + 1 %></div>
              <a class="underline inline-block cursor-pointer hover:text-green-800 mt-1" href="#fact-<%= index + 1%>"><%= fact.headline %></a>
            </div>
          <% end %>
        </div>
      </div>
      <div class="ml-8 text-3xl font-bold">Facts</div>

      <% @facts_to_show.each_with_index do |fact, index| %>
        <%= render 'nutrient_display', fact: fact, index: index %>
      <% end %>
    </div>
  </div>
</div>