<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>



  <div class="field">
    <%= form.label :publication_year %>
    
    <div data-controller="hello">
      <%= book.publication_year %>

      <div class="flex">
        <input type="text"  data-action="focus->hello#show" >
        <div style="" data-target="hello.existingTags" class="flex">
          <% book.tags.each do |item|  %>
            <div class="tag" data-action="click->hello#removeItem"data-info="<%= item.id %>"> <%= item.name %> </div>
          <% end %>
        </div>
      </div>

      <div class=" hidden" data-target="hello.dropdown">
        <% Tag.all.each do |item| %>
          <div class="tag <%= book.tags.map(&:name).include?(item.name) ? 'hidden' : ''%> " 
                data-action="click->hello#addItem" data-info="<%= item.id %>" >
            <%= item.name %>
          </div>
        <% end %>
      <input data-target="hello.finalValue" name="book[tags]" type="hidden" value="<%= book.tags.map(&:id).join(",") %>">
    </div>

    <input name="book[author]">
  </div>




  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
