<%= form_with(model: food, local: true) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_area :image_url %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>


  <div class="field">
    <%= form.label :tags %>

    <div data-controller="tag-picker">


      <div class="flex">
        <input type="text"  data-action="focus->tag-picker#show" >
        <div style="" data-target="tag-picker.existingTags" class="flex">
          <% food.tags.each do |item|  %>
            <div class="tag" data-action="click->tag-picker#removeItem"data-info="<%= item.id %>"> <%= item.name %> </div>
          <% end %>
        </div>
      </div>

      <div class=" hidden" data-target="tag-picker.dropdown">
        <% Tag.all.each do |item| %>
          <div class="tag <%= food.tags.map(&:name).include?(item.name) ? 'hidden' : ''%> "
                data-action="click->tag-picker#addItem" data-info="<%= item.id %>" >
            <%= item.name %>
          </div>
        <% end %>
      <input data-target="tag-picker.finalValue" name="food[tags]" type="hidden" value="<%= food.tags.map(&:id).join(",") %>">
    </div>

  </div>

  <div class="field"  data-controller="fact-adder">
    <%= form.label :facts %>

    Existing facts

    <table class="crazy-table w-full">
      <tr>
        <th>Actions</th>
        <th>Headline</th>
        <th>Created at</th>
      </tr>
      <% food.facts.each do |fact| %>
        <tbody data-target="fact-adder.existingTags">
          <tr data-id="<%= fact.id %>" >
            <td><div class="button" data-action="click->fact-adder#remove">remove</div></td>
            <td><%= fact.headline %></td>
            <td><%= fact.created_at %></td>
          </tr>
        </tbody>
      <% end %>
    </table>

    <div class="button" data-target="fact-adder.toggleButton" data-action="click->fact-adder#showAddFact">Add Fact</div>

    <table data-target="fact-adder.popup" class="crazy-table hidden w-full absolute" style="width: 500px">
      <tr>
        <th>Actions</th>
        <th>Headline</th>
        <th>Created at</th>
      </tr>
        <tbody  data-target="fact-adder.newTags">
          <% Fact.where.not(id: food.facts.map(&:id)).each do |fact| %>

              <tr data-id="<%= fact.id %>">
                <td><div class="button" data-action="click->fact-adder#add">Add</div></td>
                <td><%= fact.headline %></td>
                <td><%= fact.created_at %></td>
              </tr>

          <% end %>
      </tbody>
    </table>

    <input data-target="fact-adder.finalValue" name="food[facts]" type="hidden" value="<%= food.facts.map(&:id).join(",") %>">
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
